<!DOCTYPE html>
<head>
    <title>TheGabebook</title>
    <link rel="stylesheet" href="/friendRequests.css">
    <link rel="icon" href="/images/favicon.ico">
</head>
<body>
    <!-- header is here -->
    <div id="friend-requests-content">
        <div id="friend-request-box">
            <div class="request-box regular-border" id="outgoing-box">
                <div class="request-box-title" id="outgoing-box-title">
                    Outgoing Requests (<span id="outgoing-number">0</span>)
                </div>
                <!-- appended here -->
            </div>
            <div class="request-box regular-border" id="incoming-box">
                <div class="request-box-title" id="outgoing-box-title">
                    Incoming Requests (<span id="incoming-number">0</span>)
                </div>
                <!-- appened here -->
            </div>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        fetch("/header.html").then(response => response.text()).then(data => {
            document.body.insertAdjacentHTML("afterbegin", data);
            const script = document.createElement('script');
            const scripts = ["/header.js","/friendRequests.js"];
            scripts.forEach(src => {
                const script = document.createElement('script');
                script.src = src;
                script.type = 'module';
                document.body.appendChild(script)    
            })
        });
    </script>
</body>