<!DOCTYPE html>
<head>
    <title>TheGabebook</title>
    <link rel="stylesheet" href="/profile.css">
</head>
<body>
    <header class="header">
        <div id="HeaderLeft">
            <div class="sprite gabebookIcon"></div>
            <div id="header-name">placeholder name</div>
        </div>
        <div id="HeaderRight">
            <div class="sprite friendIcon"></div>
            <div class="sprite messageIcon"></div>
            <div class="sprite globeIcon"></div>
        </div>
    </header>
    <script src="/profile.js"></script>
</body>