<!DOCTYPE html>
<head>
    <title>TheGabebook</title>
    <link rel="stylesheet" href="/profile.css">
    <link rel="icon" href="/images/favicon.ico">
</head>
<body>
    <div class="profile-content">
        <div class="profile-content-header regular-border" id="profile-header">
            <input class="file-uploader profile-content-header-header-pic-img-uploader" type="file" id="headerPicInput" style="display: none">
            <div id="profile-content-header-name">
            </div>
            <div class="profile-content-header-extra-buttons-div" id="profile-content-header-extra-buttons-div">
                <div class="error-text" id="profile-content-header-extra-buttons-error-text"></div>
            </div>
            <div class="profile-content-header-profile-pic-div regular-border">
                <img class="profile-content-header-profile-pic-img" src="/images/default-avatar.jpg" id="profile-pic">
                <input class="file-uploader profile-content-header-profile-pic-img-uploader" type="file" id="profilePicInput" style="display: none">
            </div>
        </div>

        <div class="profile-content-body">
            <div class="profile-content-body-left">
                <div class="profile-content-body-left-about regular-border" id="profile-content-body-left-about">
                    <div class="profile-content-body-header about-cell regular-border">About</div>
                    <div id="profile-content-body-left-about-occupation" class="about-cell regular-border">Works as a 
                        <span id="occupation-text" data-old-text=""></span>
                        <textarea class="about-textarea" id="occupation-textarea" placeholder="occupation" style="display: none"></textarea>
                    </div>
                    <div id="profile-content-body-left-about-school" class= "about-cell regular-border">Studied at 
                        <span id="school-text" data-old-text=""></span>
                        <textarea class="about-textarea" id="school-textarea" placeholder="institution" style="display: none"></textarea>
                    </div>
                    <div id="profile-content-body-left-about-location" class= "about-cell regular-border">Lives in 
                        <span id="location-text" data-old-text=""></span>
                        <textarea class="about-textarea" id="location-textarea" placeholder="location" style="display: none"></textarea>
                    </div>
                    <div id="profile-content-body-left-about-hometown" class= "about-cell regular-border">From
                        <span id="hometown-text" data-old-text=""></span>
                        <textarea class="about-textarea" id="hometown-textarea" placeholder="location" style="display: none"></textarea>
                    </div>
                </div>
                  <div class="profile-content-body-left-friends regular-border">
                     friends goes here
                 </div>
            </div>
            <div class="profile-content-body-right" id="posts-get-appended-here"> 
                <div class="profile-content-body-right-post regular-border self-only" id="post-textarea-div">
                    <textarea class="user-new-post" placeholder="What's on your mind?" id="post-text"></textarea>
                    <button class="profile-content-header-extra-buttons" id="submit-post-button">Post</button>
                    <span class="error-text" id="post-error-message"></span>
                </div>
            </div>
        </div>
    </div>
    <script>
        fetch("/header.html").then(response => response.text()).then(data => {
            document.body.insertAdjacentHTML("afterbegin", data);
            const script = document.createElement('script');
            const scripts = ["/profile.js", "/header.js"];
            scripts.forEach(src => {
                const script = document.createElement('script');
                script.src = src;
                script.type = 'module';
                document.body.appendChild(script)    
            })
        });
    </script>
</body>