<!DOCTYPE html>
<head>
    <title>TheGabebook</title>
    <link rel="stylesheet" href="/profile.css">
</head>
<body>
    <header id="header">
    </header>
    <div class="profile-content">
        <div class="profile-content-header regular-border">
            <div class="profile-content-header-bottom regular-border">
                <button class="profile-content-header-bottom-button regular-border" id="timeline-button">
                    <div id="timeline-button-text-primary">Timeline</div>
                </button>
                <button class="profile-content-header-bottom-button regular-border" id="friends-button">
                    <div id="friends-button-text-primary">Friends</div>
                    <div class="profile-content-header-text-secondary" id="friends-button-text-secondary">0</div>
                </button>
                <button class="profile-content-header-bottom-button regular-border" id="photos-button">
                    <div id="photos-button-text-primary">Photos</div>
                    <div class="profile-content-header-text-secondary" id="photos-button-text-secondary">0</div>
                </button>
            </div>
            <div id="profile-content-header-name">
                Null
            </div>
            <div class="profile-content-header-extra-buttons-div">
                <button class="profile-content-header-extra-buttons" id="updateInfoButton">Update Info</button>
                <button class="profile-content-header-extra-buttons" id="updateInfoButton">Settings</button>   
            </div>
            <div class="profile-content-header-profile-pic-div regular-border">
                <img class="profile-content-header-profile-pic-img" src="/images/default-avatar.jpg">
            </div>
        </div>

        <div class="profile-content-body">
            <div class="profile-content-body-left">
                <div class="profile-content-body-left-about regular-border">
                    <div class="profile-content-body-header about-cell regular-border">About</div>
                    <div id="profile-content-body-left-about-education" class= "about-cell regular-border">Todo: job</div>
                    <div id="profile-content-body-left-about-residency" class= "about-cell regular-border">Todo: education</div>
                    <div id="profile-content-body-left-about-hometown" class= "about-cell regular-border">Todo: location</div>
                    <div id="profile-content-body-left-about-relationship" class= "about-cell regular-border">Todo: Hometown</div>
                </div>
                <div class="profile-content-body-left-friends regular-border">
                    friends goes here
                </div>
            </div>
            <div class="profile-content-body-right" id="posts-get-appended-here"> 
                <div class="profile-content-body-right-post regular-border">
                    <textarea class="user-new-post" placeholder="What's on your mind?" id="post-text"></textarea>
                    <button class="profile-content-header-extra-buttons" id="submit-post-button">Post</button>
                    <span class="error-text" id="post-error-message"></span>
                </div>
            </div>
        </div>
    </div>
    <script>
        // adding the header to this page
        fetch("/header.html").then(response => response.text()).then(data => {
            document.getElementById("header").innerHTML = data;
            const script = document.createElement('script');
            script.type = 'module';
            script.src = '/profile.js'
            document.body.appendChild(script)
        });
    </script>
    <!-- <script type="module" src="/profile.js"></script> -->
</body>