<!DOCTYPE html>
<head>
    <title>TheGabebook</title>
    <link rel="stylesheet" href="/resetPassword.css">
    <link rel="icon" href="/images/favicon.ico">
</head>
<body>
    <div class="reset-password-content">
        <div class="reset-password-messages regular-border">
            <div class="reset-password-message">Password Reset</div>
            <input id="new-password-input" placeholder="New Password" type="password">
            <input id="confirm-new-password-input" placeholder="Confirm New Password" type="password">
            <button id="submit-new-password-button" class="button-cursor">Confirm</button>
            <div>
                <span class="error-text" id="reset-password-error-text"></span>    
            </div>  
        </div> 
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script type="module" src="/resetPassword.js"></script>
</body>