html{
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background: linear-gradient(360deg, #b3d7ff, #ffffff);
    background-repeat: no-repeat; /* Prevent background from repeating */
    background-size: cover; /* Ensure it covers the entire area */
}

#back-button{
    margin-top: 8px;
    border: none;
    background-color: transparent;
    color: black;
    font-size: 20px;
    z-index: 1;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.page-not-found-text{
    color: black;
}

#four-zero-four-top{
    font-size: 100px;
}

.transparent-image {
    width: 300px; 
    height: auto; 
    opacity: 0.5; 
    position: absolute;
    border-radius: 10px;
    z-index: 0;
}

.button-cursor:active{
    cursor: pointer;
}

.button-cursor:hover{
    cursor: pointer;
}