.feed-content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 2000px;
}

.feed-content{
    margin-top: 75px;
    position: relative;
    width: 800px;
    height: 800px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.user-new-post {
    width: 100%;
    box-sizing: border-box;
    padding: 12px; 
    font-size: large; 
    border-style: none; 
    outline: none; 
    resize: none; 
    height: 100px;
    min-height: 40px; 
    font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
}

#submit-post-button{
    margin: 4px;
}

.regular-border{
    border-style: solid;
    border-width: 1px;
    border-color: grey;
}

.profile-content-body-right-feed-post-header{
    margin: 4px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
}

.post-profile-header-text{
    margin-left: 6px;
}

.post-profile-time{
    font-size: small;
    color: grey;
}

.delete-post-button-div{
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    margin-right: 12px;
    align-items: top;
}

.delete-post-button{    
    color: rgb(68 92 162);
    font-weight: bold;
    border: none;
    background-color: white;
    height: 16px;
}

.post-profile-name{
    font-weight: bold;
    color: rgb(68 92 162);
    text-decoration: none !important;
}

.post-textarea{
    white-space: normal;     
    word-wrap: break-word;    
    overflow-wrap: break-word; 
}

.post-content{
    padding: 8px 4px 8px 4px;
}

.profile-content-body-right-feed-post{
    margin: 0px;
}

.post-profile-pic{
    width: 40px;
    height: 40px;
    z-index: 1;
    border-radius: 2px;
}

/*post-bottom = buttons, likes, comments  */
.post-bottom{
     /* this border is for top line  */
    border-left: none;
    border-right: none;
    border-bottom: none;
}


.post-button{
    font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
    padding: 0px 20px 0px 10px;
    height: 100%;
    align-items: center; 
    border: none;
    background-color:  rgb(208,204,220);
    font-weight: bold;
    color: rgb(68 92 162);
}
/* .post-bottom-internal */
.post-bottom-internal{
    /* margin: 4px; */
    /* border-radius: 1px; */
    background-color: rgb(208,204,220);
}

.delete-comment-button{
    color: rgb(68 92 162);
    font-weight: bold;
    border: none;
    background-color: rgb(206,203,220);
    height: 16px;
}
.write-comment-error-message,
.post-likes{
    margin: 0px 10px 0px 10px;
}

.post-comments{
    padding-top: 0px !important;
    margin: 0px 2px 0px 2px;
    border: none;
}

.post-comment-name-text{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.post-comment{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-bottom: 6px;
    padding-top: 6px;
}

.error-text{
    font-size: 20;
    color: red;
}

.comment-profile-pic{
    width: 40px;
    height: 40px;
    z-index: 1;
    border-radius: 2px;
    margin-right: 2px;
}

.post-comment-right{
    flex: 1;
    margin: 0px 0px 0px 4px;
}

.post-comment-left{
    display: flex;
}

.post-comment-profile-name{
    font-weight: bold;
    font-size: 14px;
    color: rgb(68 92 162);
}

.post-comment-text{
    margin-top: -2px;
    margin-bottom: 2px;
    white-space: normal;     
    word-wrap: break-word;    
    overflow-wrap: break-word;
    font-size: 14px;
}

.post-comment-date-likes{
    display: flex;
    align-items: left;
    gap: 8px;
}

.post-comment-small-text{
    font-size: small;
    color: grey;
}

.post-comment-like-button{
    color: rgb(68 92 162);
    font-weight: bold;
    border: none;
    background-color: rgb(206,203,220);
    font-size: small;
    user-select: none;
}

.post-comment-like-button:hover{
    cursor: pointer;
}

.post-write-comment{
    display: flex;
    align-items: center;
    margin: -10px 10px 0px 10px;
    /* padding-top: -2px; */
}

.post-write-comment-textarea{
    flex: 1;
    box-sizing: border-box;
    margin: 2px 0px 0px 2px;
    font-size: small; 
    border-style: none; 
    outline: none; 
    resize: none; 
    height: 20px;
    min-height: 20px; 
    max-width: 565px;
    font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
}

.submit-comment-button{
    white-space: nowrap;
    margin: 0px 0px 0px 4px;
}

.anchor{
    text-decoration: none !important;
    color: rgb(68, 92, 162) !important; 
}

.anchor:visited {
    color: rgb(68, 92, 162) !important; 
}


button:active{
    cursor: pointer;
}

button:hover{
    cursor: pointer;
}
