#friend-requests-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#friend-request-content-header{
    margin-top: 60px;
    position: relative;
}