#messages-content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#messages-content{
    margin-top: 75px;
    position: relative;
    width: 800px;
    height: 800px;
    max-height: 800px;
    display: grid;
    grid-template-columns: 250px 1fr;
    background-color: white;
    gap: 20px;
}

.message-inner-content{
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(206,203,220);
    border-radius: 2px;
}

#messages-content-left{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 800px;
    max-height: 800px;
    gap: 4px;
    /* padding: 8px; */
    background-color: rgb(206,203,220);
}

#messages-content-right{
    position: relative;
    height: 800px;
    max-height: 800px;
}

.regular-border{
    border-style: solid;
    border-width: 1px;
    border-color: grey;
}

#people-list{
    /* display: flex; */
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0px 8px 8px 8px;
    background-color: white;
    overflow-y: scroll;
    max-height: 770px;
    width: 230px;
}

#friend-search{
    margin: 8px 8px 0px 8px;
}

#friend-search:focus {
    outline: none;
    box-shadow: none;
}

#conversation-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    padding: 8px;
    height: 800px;
}

#conversation-messages{
    background-color: white;
    height: 95%;
    max-height: 95%;
    width: 95%;
    border-radius: 2px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    padding: 8px;
}

#conversation-textarea{
    width: 98%;
    position: relative;
    background-color: white;
}

#message-textarea{
    width: 100%;
    box-sizing: border-box;
    padding: 12px; 
    font-size: large; 
    border-style: none; 
    outline: none; 
    resize: none; 
    height: 90px;
    min-height: 40px; 
    font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
    margin-top: 2px;
    margin-bottom: 20px;
}

#send-message-button{
    position: absolute;
    margin-left: -77px;
    margin-top: 93px;
    
}

#send-message-error{
    position: absolute;
    margin-left: 12px;
    margin-top: -20px;
}

.error-text{
    font-size: 20;
    color: red;
}

.message{
    max-width: 250px;
    padding: 4px;
    position: relative;
    word-wrap: break-word; 
    overflow-wrap: break-word;
    word-break: break-all; 
    /* flex-grow: 0; */
    display: inline-block;
}

.recieved-message-container{
    align-self: flex-start;
    border-bottom-left-radius: 0;
    margin-left: 4px;
}

.recieved-message{
    background-color: rgb(227,156,102);
    padding-left: 6px;
}

.sent-message-container{
    align-items: flex-end;
    align-self: flex-end;
    border-bottom-right-radius: 0;
    margin-left: 4px;
    display: flex;
    flex-direction: column;
}

.sent-message{
    background-color: rgb(192,200,218);
    padding-right: 6px;
}

.sent-message-time{
    align-self: flex-end;
}

.message-time{
    margin-top: 2px;
    font-size: small;
    color: black;
    max-width: auto;
    max-width: 200px;
}

.recieved-message::after {
    content: "";
    position: absolute;
    left: -8px;
    bottom: 0;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-top-color: rgb(227,156,102);
    border-bottom: 0;
  }
  
.sent-message::after {
    content: "";
    position: absolute;
    right: -8px;
    bottom: 0;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-top-color: rgb(192,200,218);
    border-bottom: 0;
}

#message-search-results{
    margin-top: 32px;
    /* display: flex; */
    flex-direction: column;
    width: 210px;
    height: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    overflow-y: scroll;
    max-height: 200px;
    row-gap: 4px;
    display: none;
}

.people-list-item{
    width: 90%;
}

.people-list-extra-info{
    margin-left: 4px;
    font-size: 18 !important;
}

#send-message-button:active,
#send-message-button:hover{
    cursor: pointer;
}

.anchor{
    text-decoration: none !important;
    color: rgb(68, 92, 162) !important; 
}

.anchor:visited {
    color: rgb(68, 92, 162) !important; 
}

#conversation-recipient-name{
    font-weight: bold;
}