body{
    font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    height: 1000px;
}

.header{
    position: fixed;
    background-color: rgb(68 92 162);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    z-index: 3;
}

#HeaderLeft{
    margin-left: 100px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

#HeaderRight{
    margin-right: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

#header-name{
    font-weight: bold;
}

.sprite {
    width: 18px; 
    height: 18px; 
    background-image: url('./images/sprites.png');
    background-repeat: no-repeat;
    transform: scale(1.77);
}

.profilePictureIcon{
    width: 16px;
    height: 16px;
    background-image: url('./images/default-avatar.jpg');
    background-repeat: no-repeat;
    transform: scale(1.77);
    background-size: cover;
}

button:active{
    cursor: pointer;
}

button:hover{
    cursor: pointer;
}
.sprite:hover{
    cursor: pointer;
}

.sprite:active{
    cursor: pointer;
}

.globeIcon { 
    background-position: 0px -1182px; 
    height: 16px;
}  

.messageIcon{
    background-position: 0px -1166px; 
    height: 15px;
}

.friendIcon{
    background-position: 0px -671px; 
    height: 15px;
    margin-top: 2px;
}

.gabebookIcon{
    background-position: 0px -607px; 
    height: 15px;
    transform: scale(2.0);
}

.profile-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.profile-content-header{
    height: 400px;
    max-width: 1000px;
    min-width: 800px;
    width: 100%;
    position: relative;
    background-color: rgb(206,203,220);
}

.regular-border{
    border-style: solid;
    border-width: 1px;
    border-color: grey;
}

.profile-content-header-profile-pic-div{
    border-radius: 2px;
    position: relative;
    width: 180px;
    height: 180px;
    margin-top: 200px;
    margin-left: 20px;
    z-index: 1;
    background-color: white;
}

.profile-content-header-profile-pic-img{
    background-color: red;
    width: 170px;
    height: 170px;
    margin-top: 5px;
    margin-left: 5px;
    z-index: 1;
    position: absolute;
}

.profile-content-header-bottom{
    display: flex;
    flex-direction: row;
    margin-top: 350px;
    height: 50px;
    width: 100%;
    background-color: white;
    position: absolute;
    align-items: center;
    justify-content: center;   
    border-left: none;
    border-right: none;
}

.profile-content-header-extra-buttons-div{
    display: flex;
    flex-direction: row;
    position: absolute;
    margin: 310px 0px 0px 800px;
    justify-content: space-between;
    gap: 10px;
}

@media (max-width: 1000px){
    .profile-content-header-extra-buttons-div{
        margin-left: 750px;
    }
}

@media (max-width: 930px){
    .profile-content-header-extra-buttons-div{
        margin-left: 500px;
    }
}

/* update info and account options button */
.profile-content-header-extra-buttons{
    flex-shrink: 0;
}

#profile-content-header-name{
    position: absolute;
    margin: 310px 0px 0px 220px;
    font-weight: bolder;
    font-size: x-large;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.profile-content-header-bottom-button{
    font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
    padding: 0px 20px 0px 20px;
    height: 100%;
    display: flex;
    align-items: center; 
    border-radius: 0px;
    background-color: white;
    font-weight: bold;
    color: rgb(68 92 162);
}

#timeline-button{
    border-top: none;
    border-bottom: none;
    border-right: none;
}

#friends-button{
    border-top: none;
    border-bottom: none;
}

#photos-button{
    border-top: none;
    border-bottom: none;
    border-left: none;
}

.profile-content-header-text-secondary{
    margin-left: 10px;
    font-weight: normal;
    color: grey;
}

.profile-content-body{
    max-width: 1000px;
    min-width: 800px;
    width: 100%;
    height: 100px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.profile-content-body-left{
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile-content-body-right{
    width: 590px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.profile-content-body-left-about{
    display: flex;
    flex-direction: column;
    border-bottom: none;
}

.about-cell{
    padding: 10px 10px 10px 10px;
    border-top: none;
    border-left: none;
    border-right: none;
}

.profile-content-body-header{
    background-color: rgb(208,204,220);
    font-weight: bold;
    color: rgb(68 92 162);
}

.user-new-post {
    width: 100%;
    box-sizing: border-box;
    padding: 12px; 
    font-size: large; 
    border-style: none; 
    outline: none; 
    resize: none; 
    height: auto; 
    min-height: 40px; 
    font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
}

#submit-post-button{
    margin: 4px;
}

#post-button{
    margin: 4px;
}

.profile-content-body-right-feed-post-header{
    margin: 4px;
    display: flex;
    flex-direction: row;
}

.post-profile-header-text{
    margin-left: 6px;
}

.post-content{
    padding: 8px 4px 8px 4px;
}

.profile-content-body-right-feed-post{
    margin: 0px;
}

.post-profile-pic{
    width: 40px;
    height: 40px;
    z-index: 1;
    border-radius: 2px;
}

/*post-bottom = buttons, likes, comments  */
.post-bottom{
     /* this border is for top line  */
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.post-button{
    font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
    padding: 0px 20px 0px 10px;
    height: 100%;
    align-items: center; 
    border: none;
    background-color:  rgb(208,204,220);
    font-weight: bold;
    color: rgb(68 92 162);
}
/* .post-bottom-internal */
.post-bottom-internal{
    /* margin: 4px; */
    /* border-radius: 1px; */
    background-color: rgb(208,204,220);
}

.post-likes{
    margin: 0px 10px 0px 10px;
}

.post-comments{
    margin: 0px 10px 0px 10px;
}